--- 
--- 

$header-bg-color: #c90229;
$header-bg-color-secondary: #939393;
$section-headings-color: #c90229;
$brand-color: #c90229;

@import "{{ site.theme }}";

body {
  padding: 0 50px 0 0;
}

.breadcrumb {
  list-style: none;
  border-radius: 4px;
}

.breadcrumb>li {
  display: inline-block;
}

.breadcrumb {
  border: 0px;
  display: block;
}

.breadcrumb li {
  font-size: 14px;
}

.breadcrumb a {
  color: $brand-color;
}

.breadcrumb a:hover {
  color: darken($brand-color, 20%);
}

.breadcrumb>.active a {
  color: #555555;
}

.breadcrumb>li+li:before {
  color: $brand-color;
  content: "\003E\00a0";
}

.top-nav li {
  display: inline-block;
  width: 120px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
}

.top-nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.top-nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.top-nav a.active {
  background-color: $brand-color;
  color: #fff;
}
