# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches:
      - master

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v1

      # Runs a single command using the runners shell
      - name: Install Image Titler
        run: pip install image-titler

      # Runs a set of commands using the runners shell
      - name: Generate Images
        run: |
          sources=assets/sources/
          images=assets/images/
          logo=icon-small.png
          for file in "$sources"*
          do
            image-titler --path "$file" --output "$images" --logo "$images$logo"
            filename=$(basename "$file")
            #base="${filename%.*}"
            #edit=$(find "$images" -name "$base*")
            edit=$(cd "$images" && ls -t | head -n1)
            echo $edit
            mv "$edit" "$images$filename" 
          done
      
      - name: Commit Changes
        uses: EndBug/add-and-commit@v5 # You can change this to use a specific version
        with:
          # The message for the commit
          # Default: 'Commit from GitHub Actions'
          message: 'Generated featured images from sources'

        env:
          # This is necessary in order to push a commit to the repo
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Leave this line unchanged
